################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OhanaTexture/v15
/Ohana3DS.ConvertedToC#/bin/Debug
/Ohana3DS.ConvertedToC#/obj/Debug
/Ohana3DS.ConvertedToC#/bin/Release
/Ohana3DS.ConvertedToC#/obj/Release
/OhanaTexture/bin/Debug
/OhanaTexture/obj/Debug
/OhanaTexture/bin/Release
/OhanaTexture/obj/Release
/.vs/Ohana3DS Rebirth/v15
/Ohana3DS Rebirth/bin/x86
/Ohana3DS Rebirth/obj/x86
/OhanaTextureLib/bin
/OhanaTextureLib/obj
/Ohana3DS Rebirth/Ohana3DS Rebirth.csproj.user
